body{
    display: flex;
    flex-direction: column;
    font-family:'Lato';
    font-weight: 300;
    margin: 0;
    background-color: #FFFAFA;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

/* ----------------- TEXT ELEMENTS -------------------*/

.bold{
    font-weight: 700;
}

nav a{
    font-family: 'Lato';
}